<!doctype html>
<html>
	<head>
		<title>Sample template</title>
	</head>
	<body>
		<h1>Sample Email</h1>
		<p>Hello {{ name }}! This is a test message from {{ service }} service</p>
		<br>
		<p>{{ service }} team.</p>
		<img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" width="400" height="250">
	</body>
</html>